@mixin font($ff, $fz, $fw, $fc) {
  font-family: $ff;
  font-size: $fz;
  font-weight: $fw;
  color: $fc;
}
@mixin flex($jc, $ai) {
  display: flex;
  flex-flow: row wrap;
  justify-content: $jc;
  align-items: $ai;
}
@mixin form {
  //doesn't work in opera
  border: none;
  outline: none;
  outline-width: 0;
}
@mixin btn($w, $h, $bgc) {
  width: $w;
  height: $h;
  line-height: $h;
  background-color: $bgc;
  box-sizing: border-box;
}
@mixin abs-ctr {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin pseudo($content: '', $display: block, $pos: absolute){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin xl {
   @media screen and (min-width: $break-xl){
    @content;
  }
}

@mixin lg {
   @media screen and (max-width: $break-lg){
    @content;
  }
}
@mixin md {
   @media screen and (max-width: $break-md){
    @content;
  }
}
@mixin sm {
   @media screen and (max-width: $break-sm){
    @content;
  }
}
@mixin xs {
   @media screen and (max-width: $break-xs){
    @content;
  }
}

@mixin fz($f, $md: false, $sm: false, $xs: false) {
   @if($md){
    @include md {
      font-size: $f * .9;
    }
  }
  @if($sm) {
     @include sm{
      font-size: $f * .75;
    }
  }
  @if($xs) {
     @include xs{
      font-size: $f * .7;
    }
  }
}