// main-color
$brand-color: #ff340e;

//background-colors
$background-color-primary: #efefef;
$background-color-2: #fff;

//font colors
$font-color-primary: #000;
$font-color-2: #fff;
$font-color-3: #999999;
$font-color-4: rgb(0, 155, 255);

//border-colors
$border-color-primary: #efefef;
$border-color-2: #fff;

//font
$font-primary: 'Ubuntu', sans-serif;