//base
@import "./base/index.scss";

//helpers
@import "./helpers/index.scss";

//components
@import "./components/index.scss";

//layouts
@import "./layout/index.scss";

body  {
    font-size: 100%;
    //font-magican
    font-family: 'Open Sans';
}

h1 {    
    //px to rem
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    //assets
    // background: resolve('logo.png');
    // background-size: size('logo.png', 2);
}